.overlayOuter {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100001;
}

.overlayOuter .overlayInner {
  background: url(ajax-loader.gif) no-repeat 50% 50% #000;
  height: 100%;
  left: 25px;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100001;
}

.overlayOuter #frame-content {
  display: none;
  left: 25px;
  position: absolute;
  z-index: 100001;
}

.overlayOuter #frame-close {
  background: url('close.gif') no-repeat #000;
  cursor: pointer;
  float: left;
  height: 100%;
  width: 25px;
  z-index: 100001;
}
